<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SOLE SAAVY</title>
  <link rel="shortcut icon" type="image/png" href="/img/Favicon.jpg" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <style>
    .body-wrapper {
      text-align: center;
      /* Center the content within the body-wrapper */
      margin-top: 70px;
    }



    label {
      display: block;
      /* Make labels display as blocks for better alignment */
      margin-bottom: 10px;
      /* Add margin between labels and inputs */
    }

    input {
      width: 20%;
      /* Make input fields take up the full width of their container */
      padding: 5px;
      /* Add padding for better appearance */
      box-sizing: border-box;
      background-color: rgb(222, 217, 217);
      /* Include padding in the input's total width */
    }

    .err {
      color: red;
    }
  </style>

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./Dashboard" class="text-nowrap logo-img">
            <img src="/img/ssLOGO.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-user"></i>
                </span>
                <span class="hide-menu">CUSTOMERS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-list"></i>
                </span>
                <span class="hide-menu">CATEGORIES</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-p"></i>
                </span>
                <span class="hide-menu">PRODUCTS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="fa-brands fa-dropbox"></i>
                </span>
                <span class="hide-menu">ORDERS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-credit-card"></i>
                </span>
                <span class="hide-menu">SALES REPORT</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                <span>
                  <i class="fas fa-tags"></i>

                </span>
                <span class="hide-menu">Offers</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-receipt"></i>

                </span>
                <span class="hide-menu">Coupons</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="hide-menu">LOGOUT</span>
              </a>
            </li>





          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->



    <div class="container mt-4">
      <h1 style="margin-left: 700px;">Coupons</h1>
      <div class="table-responsive" style="margin-left: 270px;">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr style="text-align: center;">
              <th>Coupon Name</th>
              <th>Discount Amount</th>
              <th>Starting</th>
              <th>Expires</th>
              <th>Minimum Cart Value</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(coupons.length===0){ %>
              <tr style="text-align: center; color: red;">
                <td colspan="12"> NO coupons</td>
              </tr>
              <% }else{ %>
                <% for(let coupon of coupons){ %>
                  <tr style="align-items: center;">
                    <td>
                      <%= coupon.couponName %>
                    </td>
                    <td>
                      <%= coupon.discount %>
                    </td>
                    <td>
                      <%= coupon.validFrom.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= coupon.expiry.toLocaleDateString() %>
                    </td>
                    <td>
                      <%= coupon.minimumCartValue %>
                    </td>
                    <td> <a href="/admin/editCoupon?Name=<%= coupon.couponName %>"><button class="btn btn-danger"> Edit
                        </button></a> </td>

                  </tr>
                  <% } %>
                    <% } %>

          </tbody>
        </table>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add Coupon
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Coupon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="couponName" class="form-label">Coupon Name:</label>
                    <input type="text" id="couponName" name="couponName" class="form-control" required>
                    <span class="err" id="nameErr"></span>
                  </div>

                  <div class="mb-3">
                    <label for="expiryDate" class="form-label">Expiry Date:</label>
                    <input type="date" id="expiryDate" name="expiryDate" class="form-control">
                    <span class="err" id="expiryErr"></span>
                  </div>

                  <div class="mb-3">
                    <label for="amount" class="form-label">Amount:</label>
                    <input type="number" id="amount" name="amount" class="form-control">
                    <span class="err" id="amountErr"></span>
                  </div>

                  <div class="mb-3">
                    <label for="minCartValue" class="form-label">Minimum Cart Value:</label>
                    <input type="number" id="minCartValue" name="minCartValue" class="form-control">
                    <span class="err" id="mcvErr"></span>
                  </div>

                  <button type="button" class="btn btn-primary" onclick="AddCoupon()">Submit Coupon</button>
                </form>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>


    <script>
      function AddCoupon() {
        const Name = document.getElementById('couponName').value
        const Expiry = document.getElementById('expiryDate').value
        const Amount = document.getElementById('amount').value
        const mcv = document.getElementById('minCartValue').value


        if (Name === '') {
          document.getElementById('nameErr').innerText = '*Required'
          return false;
        } else {
          document.getElementById('nameErr').innerText = ''
        }

        if (Expiry === '') {
          document.getElementById('expiryErr').innerText = '*Required'
          return false;
        } else {
          document.getElementById('expiryErr').innerText = ''
        }

        if (Amount === '' || Amount <= 0) {
          document.getElementById('amountErr').innerText = '*Required Or Change Amount'
          return false;
        } else {
          document.getElementById('amountErr').innerText = ''
        }

        if (mcv === '') {
          document.getElementById('mcvErr').innerText = '*Required'
          return false;
        } else {
          document.getElementById('mcvErr').innerText = ''
        }

        fetch('/admin/addCoupon', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ Name, Expiry, Amount, mcv })
        })
          .then(response => {
            return response.json()
          })
          .then(data => {

            if (data.value === 1) {
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Coupon Created",
                showConfirmButton: false,
                timer: 1500
              });

              setTimeout(() => {
                window.location.href = '/admin/coupons'
              }, 1600);

            } else if(data.value === 0){
              Swal.fire({
                position: "center",
                icon: "error",
                title: "Existing Coupon",
                showConfirmButton: false,
                timer: 1500
              });
            }
          })


      }
    </script>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>

</body>

</html>