
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/img/ssLOGO.png"
    />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
      .form-container {
          background-color: #cfd8dd; /* Light gray background color */
          padding: 20px;
          border-radius: 10px;
          margin: 0 auto; /* Center the form horizontally */
          width: 70%; /* Set width of the form */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */

      }

    .form-container h2 {
       text-align: center; /* Center the heading */
    }
        table {
          border-collapse: collapse;
          width: 100%;
          margin-top: 20px; 
        }
  
        th,
        td {
          border: 1px solid #ddd;
          padding: 12px;
          text-align: left;
        }
  
        th {
          background-color: #f2f2f2;
        }
  
        button {
          padding: 8px 16px;
          cursor: pointer;
        }
  
        .block {
          background-color: #ff6347; /* Tomato color */
          color: #fff;
          border: none;
        }
  
        .unblock {
          background-color: #5cb85c; /* Green color */
          color: #fff;
          border: none;
        }
        .form-control{
            width: 50%;
            align-items: center;
            margin-left: 25%;
            border: solid;
        }
       .btn{
        margin-left: 20px;
       }
       .errMsg{
        color: red;
       }
      </style>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./Dashboard" class="text-nowrap logo-img">  
            <img src="/img/ssLOGO.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-user"></i>
                </span>
                <span class="hide-menu">CUSTOMERS</span>
              </a>
            </li>
 
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-list"></i>
                </span>
                <span class="hide-menu">CATEGORIES</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-p"></i>
                </span>
                <span class="hide-menu">PRODUCTS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="fa-brands fa-dropbox"></i>
                </span>
                <span class="hide-menu">ORDERS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-credit-card"></i>
                </span>
                <span class="hide-menu">SALES REPORT</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                <span>
                  <i class="fas fa-tags"></i>

                </span>
                <span class="hide-menu">Offers</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="hide-menu">LOGOUT</span>
              </a>
            </li>

            
            
            
           
          </ul>
        
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a
                  class="nav-link sidebartoggler nav-icon-hover"
                  id="headerCollapse"
                  href="javascript:void(0)"
                >
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="notification bg-primary rounded-circle"></div>
                </a>
              </li>
            </ul>
            <div
              class="navbar-collapse justify-content-end px-0"
              id="navbarNav"
            >
              <ul
                class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
              >
                <a href="" target="_blank" class="btn btn-primary">PROFILE</a>
                
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
          <!-- Row 1 -->
          <div class="row text-center"  >
             
          

          
            <div class="container mt-5 form-container";>
                <h2 class=" mb-5">Edit Product</h2>
                
            
                <form  method="POST" enctype="multipart/form-data">
                    <!-- Product Name -->
                    <div class="form-group">
                        <label class="text-center" for="productName">Product Name:</label>
                        <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>">
                    </div>
            
                    <!-- Actual Price -->
                    <div class="form-group">
                        <label for="actualPrice">Actual Price:</label>
                        <input type="text" class="form-control" id="actualPrice" name="actualPrice" value="<%= product.actualPrice %>">
                        <span id="priceERROR" class="errMsg"></span>
                    </div>
            
                    <!-- Category -->
                    <div class="form-group">
                        <label for="category">Category:</label>
                        <input type="text" class="form-control" id="category" name="category" value="<%= product.category %>">
                    </div>
            
                    <!-- Stock -->
                    <div class="form-group">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock" name="stock" value="<%= product.Stock %>">
                        <input   type="hidden" class="form-control" id="id" name="id" value="<%= productid %>">
                    </div>
            
                    <!-- Description -->
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" id="description" name="description"><%= product.description %></textarea>

                    </div>

                    <div class="form-group mt-2">
                      <label for="img">Product Image:</label>
                      <input type="file" class="images form-control-file" id="imageFiles" name="files"  multiple >
                    </div>
                    <span id="fileErr" class="errMsg"></span>
                     <br>

                     <% if(product.image.length > 0){ %>
                    
                    <div class="d-flex " style="    margin-left: 47px; margin-top: 10px;">
                     
                      <% for(let i=0; i < product.image.length; i++) { %>
                          <div style="display: flex; flex-direction: column; margin-left: 20px;"><img class="border border-dark" src="/uploads/<%= product.image[i] %>" alt="" style="width: 150px; height: 180px;" >
                            <div style="flex-direction: row;"> 
                            <button class="btn btn-danger" style="margin-left: 0; margin-top: 5px;" onclick="deleteIMG('<%= product.image[i] %>','<%= product._id %>')">Delete</button>
                          </div>
                          </div>
                      <% } %>
                  </div>

                  <% } %>
                 
                    
            
                    <button type="submit" class="btn editbtn  btn-primary mt-3">Save Changes</button>
                </form>
            </div>
  </div>
    
 

      <script> 
      document.querySelectorAll('.editbtn').forEach(function(button){
    button.addEventListener('click',  function () {

      const Price = document.getElementById('actualPrice').value
      const fileInput = document.getElementById('imageFiles');
      const files = fileInput.files

  if(Price <= 0){
    
    document.getElementById('priceERROR').innerText='Check The Price '
    return false;
  }else{

    let id= document.getElementById('id').value.trim()
            fetch('/admin/productedit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({id})
        })

  }



      

      

    })})
  


    function deleteIMG(img,productID){


   var result=   Swal.fire({
  title: "Are you sure?",
  text: "You wanna Delete ",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Yes, delete it!"
})


.then((result) => {
  if (result.isConfirmed) {

    fetch('/admin/deleteimg',{
      method:'DELETE',
      headers:{
        'Content-Type' : 'application/json'
      },
      body:JSON.stringify({img,productID})
    })
    .then(response=>{
      return response.json()
    })
    .then(data=>{
 
     
    })

    Swal.fire({
      title: "Deleted!",
      text: "Image has been deleted.",
      icon: "success"
    });

    setTimeout(() => {
      window.location.reload()
    }, 1000);
  }else{
    Swal.fire({
      title: "Ooops!",
      text: "Image has been deleted.",
      icon: "error"
    });
  }
});
 


    }

    function CropImg(image,productId){
   fetch('/admin/crop?img=image&id=productId',{
    method:"get",
    headers:{
        'Content-Type' : 'application/json'
      },

   })
}

      </script>


 <script src="/Script/validation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>
  </body>
</html>
