
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SOLE SAAVY</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/images/logos/ss.png"
    />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
          margin-top: 20px; 
        }
  
        th,
        td {
          border: 1px solid #ddd;
          padding: 12px;
          text-align: left;
        }
  
        th {
          background-color: #f2f2f2;
        }
  
        button {
          padding: 8px 16px;
          cursor: pointer;
        }
  
        .block {
          background-color: #ff6347; /* Tomato color */
          color: #fff;
          border: none;
        }
  
        .unblock {
          background-color: #5cb85c; /* Green color */
          color: #fff;
          border: none;
        }
        .divCoupon {
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #e1dede;
            margin: 10px 0;
        }
       
      </style>
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">  
            <img src="/img/ssLOGO.png" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Dashboard" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/customers" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-user"></i>
                </span>
                <span class="hide-menu">CUSTOMERS</span>
              </a>
            </li>
 
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/Category" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-list"></i>
                </span>
                <span class="hide-menu">CATEGORIES</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-p"></i>
                </span>
                <span class="hide-menu">PRODUCTS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span>
                  <i class="fa-brands fa-dropbox"></i>
                </span>
                <span class="hide-menu">ORDERS</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesReport" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-credit-card"></i>
                </span>
                <span class="hide-menu">SALES REPORT</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                <span>
                  <i class="fas fa-tags"></i>

                </span>
                <span class="hide-menu">Offers</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/logout" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span class="hide-menu">LOGOUT</span>
              </a>
            </li>

            
            
            
           
          </ul>
        
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
          <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
              <li class="nav-item d-block d-xl-none">
                <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                  <i class="ti ti-menu-2"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                  <i class="ti ti-bell-ringing"></i>
                  <div class="notification bg-primary rounded-circle"></div>
                </a>
              </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
               
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                  </a>
                  
                </li>
              </ul>
            </div>
          </nav>
        </header>
        <!--  Header End -->
        <div class="container-fluid">
          <!-- Row 1 -->
          <div class="row text-center">
              <h2>Products </h2>

              <% if(locals.message){%>
                <div class="msg">
                <%= message %>
                </div>
                 <% } %>
      
              <div class="col-lg-8 mx-auto">
                <div class="table-responsive">

                <div class="d-flex">
                  <div class="input-group" style="margin-top: 10px;">
                    <form style="display: flex;">
                        <input type="text" name="search" placeholder="Search" class="form-control" style="width: 200px; margin-right: 5px;">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                    </form>
                </div>

                <div style=" width: 400px; text-align: center; padding-top: 15px;">
                  <p style="margin: 0;">Sort By Name: <a href="?srt=1">ASC</a> Or <a href="?srt=-1">DESC</a></p>
              </div>
              
              </div>
              <input id="off" type="hidden" value="<%= offers %>">
              <table class="table table-striped table-bordered text-center">
                <thead class="table-dark">
                  <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Actual Price</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% if (product.length > 0) { %>
                    <% for (let i = 0; i < product.length; i++) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td>
                          <% if (product[i].image && product[i].image.length > 0) { %>
                            <img src="<%= '/uploads/' + product[i].image[0] %>" alt="No pic" class="img-fluid" style="max-width: 50px; max-height: 50px; border-radius: 30%;">
                          <% } else { %>
                            <img src="path/to/placeholder-image.jpg" alt="No pic" class="img-fluid" style="max-width: 100px; max-height: 100px;">
                          <% } %>
                        </td>
                        <td><%= product[i].productName %></td>
                        <td><%= product[i].actualPrice %></td>
                        <td><%= product[i].category %></td>
                        <td><%= product[i].Stock %></td>
                        <td><%= product[i].description %></td>
                        <td class="flex align-items-center">
                          <button type="button" class="btn actionbtn <%= product[i].is_listed ? 'btn-danger' : 'btn-success' %>" data-product-id="<%= product[i]._id %>" data-product-state="<%= product[i].is_listed ? 'Listed' : 'Unlisted' %>" style="min-width: 120px;">
                            <%= product[i].is_listed ? 'Unlist' : 'List' %>
                          </button>
                        
                          <a href="/admin/productedit?id=<%= product[i]._id %>" class="text-white">
                            <button type="button" class="btn actionbtn btn-info ml-2 mt-2" style="min-width: 120px;">
                              EDIT
                            </button>
                          </a>
                        <% if(product[i].offerName === ''){ %>
                          <button class="btn btn-dark ml-2 mt-2" id="<%= product[i]._id %>" style="min-width: 120px;" onclick="addOfferIntoProduct('<%= product[i]._id %>')">
                            Apply Offer
                          </button>
                          <% }else{ %>
                            <button class="btn btn-dark ml-2 mt-2" id="<%= product[i]._id %>" style="min-width: 120px; color: red;" onclick="addOfferIntoProduct('<%= product[i]._id %>')">
                              <%= product[i].offerName %>
                            </button>
                          <% } %>


                        <% if( product[i].offerAmound > 0){ %>
                          <button class="btn btn-warning ml-2 mt-2" id="<%= product[i]._id %>" style="min-width: 120px;" onclick="removeOffer('<%= product[i]._id %>')">
                            Remove
                          </button>
                       <% } %>
                          
                        </td>
                        
                        
                      </tr>
                    <% } %>
                  <% } else { %>
                    <tr>
                      <td colspan="12">User not found</td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
              
                </div>
                
              </table>
             
          


             <nav aria-label="...">
              <ul class="pagination pagination-lm">
                <% for (let i = 1; i <= totalpage; i++) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= i %>" > <%= i %></a>
                  </li>
                <% } %>
              </ul>
            
             
                  <!-- <button href="#" class="btn btn-primary"> Add Product </button>  -->
                  <a href="/admin/addProduct"  class="btn btn-primary">Add Product</a>
              </div>
              
          </div>
          
      </div>

      <script>  

    function removeOffer(productId){
      fetch('/admin/removeOffer',{
        method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({productId})
         })
         .then(response =>{
          return response.json()
         })
         .then(data =>{
          Swal.fire({
          position: "center",
          icon: "success",
          title: "Offer Removed",
          showConfirmButton: false,
          timer: 1500
             });

            setTimeout(() => {
              window.location.reload()
            }, 1600);
         })

      
    }




     function  addOfferIntoProduct(productId){
      const offers = document.getElementById('off').value
    
    
     // Create Swal alert with offer list
     Swal.fire({
                        title: "<u><strong> Offers</strong></u>",
                        html: `
                    
                    <% offers.forEach(offer => { %>
                        <div class="divCoupon"> 
                            <p> Offer Name:&nbsp;<strong><%= offer.offerName %></strong></p>
                            <p>Discount Offer:&nbsp; <strong><%= offer.discount %>%</strong></p>
                            <button class="btn btn-success offerbtn" onclick="applyoffer('<%= offer._id %>', '<%= offer.discount %>','${productId}' )">Apply</button>
                        </div>
                    <% }); %> `,
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        confirmButtonText: `Done !`,
                    });


    }

    function applyoffer(offerId,Discount,productId){
      Swal.fire({
           position: "center",
           icon: "success",
           title: "Offer Added",
           showConfirmButton: false,
           timer: 1500
         });

         fetch('/admin/productOffer',{
          method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({productId,offerId})
         })
         .then(response =>{
          return response.json();
         })
         .then(data =>{
          console.log(data.Name);

          setTimeout(() => {
              window.location.reload()
            }, 1600);
         })
    }


  document.querySelectorAll('.actionbtn').forEach(function(button){
    button.addEventListener('click',  function () {
        let productId = this.getAttribute('data-product-id');
        let productState = this.getAttribute('data-product-state');
        console.log(productId,productState);
    
    

        let url;

        if(productState=='Listed'){
          url ='/admin/unlist-product'
        }
        else{ 
          url ='/admin/list-product'
        }
        
        console.log(url);
       
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({productId})
        }).then(response => {
            return response.json();
        }).then(data=>{
          if(data.message){
            if(productState=='Listed'){
              this.setAttribute('data-product-state', 'Unlisted')
              this.textContent = 'List'
              this.classList.replace('btn-danger', 'btn-success')

              Swal.fire({
  title: "Product Unlisted",
  showClass: {
    popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
  }
});
            }else{
              this.setAttribute('data-product-state', 'Listed')
              this.textContent = 'Unlist'
              this.classList.replace('btn-success', 'btn-danger')
             
              Swal.fire({
  title: "Product Listed",
  showClass: {
    popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
  }
});

            }
          }
        })
      })})
     

      </script> 

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert  -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/sidebarmenu.js"></script>
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="/assets/js/dashboard.js"></script>
  </body>
</html>
