<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sole Saavy</title>
    <link rel="shortcut icon" type="image/png" href="/img/Favicon.jpg" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />

    <style>
      .quantityDiv {
        width: 50px;
        padding-left: 4px;
        padding-right: 4px;
      }
    </style>
  </head>

  <body>
    <!-- Page Preloder -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        <div class="offcanvas__links">
          <a href="#">Sign in</a>
          <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
          <span>Usd <i class="arrow_carrot-down"></i></span>
          <ul>
            <li>USD</li>
            <li>EUR</li>
            <li>USD</li>
          </ul>
        </div>
      </div>
      <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"
          ><img src="img/icon/search.png" alt=""
        /></a>
        <a href="#"><img src="img/icon/heart.png" alt="" /></a>
        <a href="#"><img src="img/icon/cart.png" alt="" /> <span>0</span></a>
        <div class="price">$0.00</div>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-7">
                      <div class="header__top__left">
                          <p>Free shipping, 30-day return or refund guarantee.</p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-5">
                      <div class="header__top__right">
                          <div class="header__top__links">
                              <a href="/Register">Sign in</a>
                              <a href="/logout">Sign Out</a>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3">
                  <div class="header__logo">
                      <a href="./home"><img class="logo" src="/img/ssLOGO.png" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <nav class="header__menu mobile-menu">
                      <ul>
                          <li class="active"><a href="/home">Home</a></li>
                          <li><a href="/shop">Shop</a></li>
                          <li><a href="#">Pages</a>
                              <ul class="dropdown">
                                 
                                  <li><a href="./shop">Shop</a></li>
                                  <li><a href="./cart">Shopping Cart</a></li>
                                   <li><a href="./profile">Profile</a></li>
                                   <li><a href="./wallet">Wallet</a></li>
                                  
                              </ul>
                          </li>
                          <li><a href="/wallet">Wallet</a></li>
                          
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3 col-md-3" style="padding-left: 112px;">
                <div class="header__nav__option d-flex">
                    <a  href="" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="./cart"><img src="img/icon/cart.png" alt="cart"> </a>

                    <div style="width: 21px;
                    height: 21px; margin-right: 20px;">
                        <a href="./wallet"><img src="img/icon/wallet.png" alt="Profile"></i> </a>
                    </div>
                    
                    <div style="width: 19px;
                    height: 19px;">
                        <a href="./profile"><img src="img/icon/user.png" alt="Profile"> </a>
                    </div>
                </div>
            </div>
          </div>
          <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
  </header>
  <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb__text">
              <h4>Shopping Cart</h4>
              <div class="breadcrumb__links">
                <a href="./home">Home</a>
                <a href="./shop">Shop</a>
                <span>Shopping Cart</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="shopping__cart__table">

             
            
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% let totalPrice = 0 %> <% cart.items.forEach((item) => { %>
                  <tr>
                    
                    <td class="product__cart__item">
                      <div class="product__cart__item__pic">
                        <img
                          src="<%= '/uploads/' + item.productId.image[0] %>"
                          alt=""
                        />
                      </div>
                      <div class="product__cart__item__text">
                        <h6><%= item.productId.productName %></h6>
                        <h5 id="actualPrice">

                          <% if(item.productId.offerAmound > 0 ){ %>
                           
                              
                              <h5 style="text-decoration: line-through; color: red;"><%= '₹' + item.productId.actualPrice %></h5>
                              <h5><%= '₹' + (item.productId.actualPrice-item.productId.offerAmound) %></h5>
                              

                          <% }else{ %>
                            &#8377;<%= item.productId.actualPrice %>
                          <% } %>

                          
                        </h5>
                      </div>
                    </td>
                    <td class="quantity__item">
                      <div class="quantity-control d-flex">
                        <button
                          class="btn btn-outline-secondary mr-1 quantity-btn"
                          data-action="decrease"
                          data-product-id="<%= item.productId._id %>"
                        >
                          -
                        </button>
                        <input
                          class="form-control quantity-input"
                          type="text"
                          value="<%= item.quantity %>"
                          data-product-id="<%= item.productId._id %>"
                          readonly
                          style="width: 40px; text-align: center"
                        />
                        <button
                          class="btn btn-outline-secondary ml-1 quantity-btn"
                          data-action="increase"
                          data-stock="<%= item.productId.Stock %>"
                          data-product-id="<%= item.productId._id %>"
                        >
                          +
                        </button>
                      </div>
                    </td>
                    <td class="cart__price">
                      &#8377;<span id="price"
                        ><%= (item.productId.actualPrice-item.productId.offerAmound) * item.quantity %></span
                      >
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-dark"
                        style="margin-right: 12px"
                        onclick="RemoveProduct('<%= item.productId._id %>')"
                      >
                        Remove
                      </button>
                    </td>
                    
                  </tr>
                  <% totalPrice +=  (item.productId.actualPrice-item.productId.offerAmound) * item.quantity %>
                  <% }); %>
                </tbody>
              </table>
             
            </div>
            

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn">
                  <a href="/shop">Continue Shopping</a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn update__btn">
                  <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-5">
            
            <div class="cart__total">
              <h6>Cart total</h6>
              <ul>
                <li>Subtotal <span id="subTotal"> <%= totalPrice %></span></li>
                <li>Total <span><%= totalPrice %></span></li>
              </ul>
              <a href="/checkout" class="primary-btn">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__logo">
                <a href="#"><img src="img/ssLOGOW.png" alt="" /></a>
              </div>
              <p>
                The customer is at the heart of our unique business model, which
                includes design.
              </p>
              <a href="#"><img src="img/payment.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Shopping</h6>
              <ul>
                <li><a href="#">Clothing Store</a></li>
                <li><a href="#">Trending Shoes</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Sale</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Shopping</h6>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivary</a></li>
                <li><a href="#">Return & Exchanges</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h6>NewLetter</h6>
              <div class="footer__newslatter">
                <p>
                  Be the first to know about new arrivals, look books, sales &
                  promos!
                </p>
                <form action="#">
                  <input type="text" placeholder="Your email" />
                  <button type="submit">
                    <span class="icon_mail_alt"></span>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (event) {
          if (event.target.classList.contains("quantity-btn")) {
            const action = event.target.getAttribute("data-action");
            const productId = event.target.getAttribute("data-product-id");
            const stock = event.target.getAttribute("data-stock");

            // Extract the unique identifier from productId
            const productIdString = productId.toString();

            // Select the quantity input field based on the productId
            const quantityInput = document.querySelector(
              `.quantity-input[data-product-id="${productIdString}"]`
            );

            let newQuantity;

            if (action === "increase") {
              newQuantity = parseInt(quantityInput.value, 10) + 1;
              if (newQuantity > stock) {
                // Display a SweetAlert if the new quantity exceeds the available stock
                Swal.fire({
                  title: "Stock unavailable!",
                  showConfirmButton: false,
                  timer: 1500,
                });
                return false;
              }
            } else if (
              action === "decrease" &&
              parseInt(quantityInput.value, 10) > 1
            ) {
              newQuantity = parseInt(quantityInput.value, 10) - 1;
            } else {
              // Invalid action or trying to decrease below 1
              return;
            }

            // Update the input field with the new quantity
            quantityInput.value = newQuantity;

            // Send an AJAX request to update the quantity on the server
            fetch("cart/updateQuantity", {
              method: "put",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                productId: productIdString,
                newQuantity: newQuantity,
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.success) {
                  location.reload();
                }
                // Handle the response if needed
                console.log(data);
              })
              .catch((error) => console.error("Error:", error));
          }
        });
      });

      function RemoveProduct(productid) {
        fetch("cart/RemoveProduct", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ productid }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data) {
              let value = data.value;

              if (value == 1) {
                Swal.fire({
                  text: "Product removed!",
                  icon : 'success',
                  showConfirmButton: false,
                });
                setTimeout(() => {
                  location.reload();
                }, 1000);
              } else if (value ==2){
                Swal.fire({
                  text: "failed to remove  Product !",
                  icon : 'error',
                  showConfirmButton: false,
                });              }
            }
          })
          .catch((error) => console.error("Fetch error:", error));
      }
    </script>

    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- sweetalert  -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
